<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JZR-Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

</head>
<body>
    <div>
        <div class="ml-4 mt-4">
            <h1 class="border-solid border-2 border-sky-500 font-semibold text-xl"> Welcome to my website</h1>
            <p>Here lies the dust --the ramains-- of man</p>
            <p>- JZR.</p>
        </div>
    </div>
</body>
</html>